#top-header {
    display: flex;
    justify-content: space-between;
    padding: 6px 16px;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: var(--main-background-color, #ffffff);
}

.top-header__column {
    display: flex;
}

.top-heaer__hambuger-menu {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 16px;
    margin-right: 28px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.top-heaer__hambuger-menu > svg {
    fill: var(--sub-text-color, #606060);
}

.top-header__logo-box {
    font-size: 24px;
}

.top-header__logo-box > a {
    display: flex;
    align-items: center;
    height: 26px;
    width: 100px;
}

.svg-logo-text {
    fill: var(--logo-text-color, #fcfcfc);
}

.top-header__logo-language {
    color: #bdc3c7;
    font-size: 10px;
    align-self: flex-start;
    font-weight: 200;
    margin-left: 5px;
}

.top-header__search-box {
    display: flex;
    border: 1px solid var(--border-color, #dbdbdb);
    border-radius: 3px;
    background-color: var(--searchbox-background-color, #131313);
}

.top-header__search-box-column:first-child {
    padding: 4px 6px;
}

.top-header__input {
    background-color: var(--searchbox-background-color, #131313);
    width: 400px;
    font-size: 16px;
    color: inherit;
    border: none;
    outline: none;
}

.top-header__search-button {
    width: 64px;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.18);
    border: none;
    outline: none;
}

.top-header__keyboard-icon {
    color: var(--keyboard-icon-color, rgba(0, 0, 0, 0.6));
}

.top-header__search-icon {
    color: var(--keyboard-icon-color, rgba(0, 0, 0, 0.6));
}
