.login-box {
    border: 1px solid#065fd4;
    border-radius: 3px;
    padding: 5px 11px;
    color: #065fd4;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.login-box:hover {
    color: #fcfcfc;
    background-color: #065fd4;
}

.login-box__icon {
    font-size: 24px;
    margin-right: 8px;
}

.login-box__head {
    font-weight: 500;
    font-size: 14px;
    line-height: 8px;
}

.gray-color {
    color: #606060;
}
